@charset "UTF-8";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}


body {
    background-image: url(../img/bg_main.png);
  
}

.header-top{
    position: relative;
    width: 70%;
    height: 115px;
    background-color: white;
    margin: 0 auto;
    
}
.header-top img{
    
    float: left;
}
.top-left{
    position: absolute;
    top:40%;
    right: 1%;
    font-weight: 400;
    font-size: 20px;
}
.top-menu{
    width: 100%;
    height: 50px;
    background-image: url(../img/bg_wood.png);
    color: white;
    display: flex;
    justify-content: space-between
   
}

.space{
    width: 10%;
}
.top-menu a{
    padding-top: 13px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.top-menu a:hover{
    opacity: 0.6;
}

.mainimg{
    width: 100%;
    background-image: url(../img/main_img_bg.png);
    margin: 0 auto;
}
.mainimg img{
    width: 70%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.line{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:  0 auto;
}

.top,.bottom{
    width: 20%;
    display: flex;
    justify-content: center;
    margin:  0 auto;
    padding: 15px 0;
}
  .content1, .content2 ,footer{
      width: 70%;
      padding-top: 15px;
      background-color: white;
      margin: 0 auto;
  }
  .text{
    width: 80%;
    padding-top: 30px;
    margin: auto;
  }
  .menutitle{
      padding-top: 30px;
    width: 20%;
    margin: auto;
  }
  
  .text , .menutitle{
    
    display: flex;
    justify-content: center;
  }
  
  .course{
      width: 100%;
      margin:  0 auto;
      display: flex;
      justify-content: space-around

  }
  .course img{
      width: 25%;
      padding-top: 20px;
      cursor: pointer;
  }

.nailimg{
    width: 100%;
display: flex;
flex-wrap: wrap;
justify-content:center;
padding: 30px 0;
}

.n-desgin{
    width: 31%;
}

.space2{
    width: 100%;
    padding-top: 45px;
}

.about{
    width: 100%;
    display: flex;
    justify-content: space-around
}
.about img{
    width: 28%;
    padding: 30px 0;
    cursor: pointer;
}

.footer2{
    width: 100%;
    padding: 0;
}
.footermain{
   height: 100%;
    width: 100%;
    padding-top: 15px;
}